* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

body {
  background-image: url(../public/img/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

/* animation */

header div {
  animation: fromTop .7s .2s backwards;
}

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: .3s;
}

main section:nth-child(3) {
  animation-delay: .6s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px)
  }
  
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px)
  }
  
  to {
    opacity: 1;
    transform: translateY(0)
  }
}
